[data-comp='NavBar'] {
	background-color: var(--clr-nav);
	color: var(--clr-nav-text);

	.content {
		margin: 0 auto;
		display: flex;
		align-items: center;
		max-width: var(--max-width);
		width: calc(100% - 4rem);

		.logo {
			width: 3.2rem;
			height: 3.2rem;
			position: relative;
			border-radius: 3.2rem;
			overflow: hidden;
			margin: .8rem 0;
			margin-right: auto;
			flex-shrink: 0;

			img {
				width: 100%;
				height: 100%;
			}
		}

		.navs {
			align-self: stretch;
			position: relative;
			display: flex;

			> * {
				display: inline-flex;
				padding: 0 1rem;
				align-items: center;
				height: 100%;
			}

			> a {
				color: var(--clr-nav-link);
				transition: color 0.3s;
				transition-property: color, background-color;
				cursor: pointer;

				i {
					margin-right: 0.8rem;
				}

				&:hover {
					color: var(--clr-nav-link-hover);
					background-color: var(--clr-nav-link-hover-bg);
				}

				&.active {
					background-color: var(--clr-nav-link-hover-bg);
				}
			}
		}
	}

	.btn {
		color: var(--clr-nav-link);

		&:hover {
			color: var(--clr-nav-link-hover);
		}
	}
}
