:root {
	--clr-primary: #396;
	--clr-secondary: #d83;
	--clr-bg: #eee;
	--clr-text: #333;
	--clr-nav: #444;
	--clr-nav-text: #eee;
	--clr-nav-link: #4fa;
	--clr-nav-link-hover: #fa4;
	--clr-nav-link-hover-bg: #555;

	--max-width: 128rem;
}